<!-- articles.component.html -->
<div class="articles-container">
    <div class="flex flex-col items-center justify-center text-center my-8">
  <h1 class="text-4xl font-bold ml-6">Annonces Disponibles</h1>
  <p class="text-xl my-4">Découvrez nos meilleurs offres et meilleurs emplacements.</p>
  </div>
  <div class="announcements-grid my-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-2">
     @for (announcement of announcements; track announcement.id) {
        <div class="announcement-card border border-gray-300 rounded-lg shadow-lg p-4 m-2">
            <span>
                <img src="{{ announcement.imageCover }}" alt="Image de l'annonce" class="w-full h-52 object-cover rounded-t-lg">
            </span>
            <span>
                <h2 class="mt-3 mb-1 text-xl font-bold">{{ announcement.title }}</h2>
                <p class="mt-2"> 📍 {{ announcement.fullAddress }}</p>
            </span>
            <span class="flex justify-between items-center">
                <p class="text-[#4217b1] text-xl font-bold" [class.text-green-600]="announcement.dailyPrice < 40">{{ announcement.dailyPrice | currency: 'EUR' : 'symbol' : '1.2-2' : 'fr' }}</p>
                <a
                  [routerLink]="['/app-detail', announcement.id]"
                  class="w-[130px] bg-[#275ac0] h-[34px] my-3 flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-linear-to-r before:from-[#8eb2f9] before:to-[#8eb2f9] before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-white"
                >Voir Détails</a>
            </span>   
        </div>
     }
    </div>

